
/*
#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}
*/

body {
    font-family: 'Arial', 'Helvetica';
    font-size: 40px;
    background-color: #95b46A;
    margin-left: 30px;
    padding: 0;
    margin-right: 50px;
}

header {
    display: grid;
    /*width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
    height: 50px;*/
    background-color: #6BD425;
}

.content{
    max-width: 1600px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
}


.logo {
    width: 100px;
    height: 100px;
    margin-left: 0;
}

nav {
    display: flex;
    height: 150px;
    justify-content: space-around;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    padding: 20px;
    margin: 30px;
    background-color: #F5F749;
}


.card-image, .background, main {
    display: inline-block;
    grid-column: 1/3;
    /*grid-row: 1/4;*/
    margin-left: auto;
    margin-right: auto;
}

.card-image, .kindergarten {
    display: inline-block;
    grid-column: 3/4;
    /*grid-row: 1/4;/*
    margin-left: auto;
    margin-right: right;
}

footer {
    /*grid-area: 6 / 1 / 7 / 7;*/
    font-size: 50px;
    background-color: #6BD425;
}