
/*
#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}
*/

body {
    font-family: 'Arial', 'Helvetica';
    font-size: 40px;
    background-color: #95b46A;
    width: 100%;
    margin-left: 15px;
    padding: 50px;
    margin-right: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #6BD425;
    padding-top: 10px;
    margin-top: 0;
}

h1 {
    text-align: center;
}

.content{
    width: 100%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 150px;
    height: 150px;
    margin-left: 0;
}

nav {
    display: flex;
    height: 100px;
    justify-content: space-around;
}

.home-grid, .kindergarten {
    padding: 20px;
    margin: 10px;
    background-color: #F5F749;
    text-align: justify;
    text-justify: inter-word;
}

.Ezra-pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-left: 50px;
    padding-left: 100px;
    display: flex;
    border: 5px solid #555;

}

  .card-image1 {
    grid-column: 2/3;
    display: flex;
    flex: 0.945563909;
  }

  .card-image2 {
    grid-column: 4/5;
    display: flex;
    flex: 0.702576;
    /*border: 5px solid #555;*/
  }

  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

footer {
    /*grid-area: 6 / 1 / 7 / 7;*/
    font-size: 50px;
    background-color: #6BD425;
}
