body {
  width: 50%;
  margin: 0 auto;
}

.hero {
  margin-top: 100px;
  height: 50%;
}

.column {
  background-color: rgb(128, 128, 128);
  float: left;
  width: 18.2%;
  height: 250px;
  padding: 25px;
  /*text-align: center;*/
  margin: 0 auto;
}

.column img {
    width: 200px;
    height: 220px;
    border-radius: 100px;
    border: 5px solid black;
  }

  main {
    width: 180%;
    border: 0;
    text-align: center;
}

 /* .images123::after {
    content: "";
    clear: both;
    display: table;
  } */
  
