<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component</title>
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>
    <div class="row">
        <div class="column1">
          <img src="images/baby_gun.jpg" alt="baby gun" style="width: 100%">
        </div>
        <div class="column2">
          <img src="images/archer.jpg" alt="archer" style ="width: 100%">
        </div>
        <div class="column3">
          <img src="images/school_uniform.jpeg" alt="school_uniform" style=" width: 100%">
        </div>
      </div>   
</body>
</html>